<%= layout("layouts/boilerplate") %>
<div class="header">
  <div class="header-heading">
    <h1><b>Discover Local Businesses Near You</b></h1>
  </div>
  <div class="header-subheading">
    <p>
      <b
        >Find the Perfect Local Shops, Restaurants, and Services in your area
        with LocalFinder.</b
      >
    </p>
  </div>
  <div class="find-btn">
    <form action="#">
      <button class="main-find-btn">Find Nearby Businesses</button>
    </form>
  </div>
</div>


<div class="category-container">
  <div class="category-header">
    <h3><b>Browse by Category</b></h3>

  </div>

  <div class="category-subheader">
    <h5>Explore businesses by category to find exactly what you're looking for</h5>
  </div>
</div>


<div class="icon-container">
  <div class="icon1"><i class="fa-solid fa-utensils"></i></div>
  <div class="icon2"><i class="fa fa-mug-saucer"></i></div>
  <div class="icon3"><i class="fa fa-shop"></i></div>
</div>

<div class="card-container">
  <% for(let bus of business){ %> <% if(!query){ %>
  <div class="card" style="width: 18rem">
    <a href="/show/<%=bus.id%>">
      <img src="<%=bus.Image.url%>" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><%=bus.Name %></h5>
        <p class="card-text"><b><%=bus.Category %></b></p>
        <p class="card-text"><%=bus.description %></p>
      </div>
    </a>
  </div>

  <% }else{ %>

  <div class="card" style="width: 18rem">
    <a href="/show/<%=bus.id%>">
      <img src="<%=bus.Image.url%>" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><%=bus.Name %></h5>
        <p class="card-text"><b><%=bus.Category %></b></p>
        <p class="card-text"><%=bus.description %></p>
      </div>
    </a>
  </div>
  <% } %> <% } %>
</div>
<footer class="footer">
  <div class="footer-main">
    <div class="footer-col">
      <h4>LocalFinder</h4>
      <p>Connecting local shoppers with the products they need from businesses they can trust across India.</p>
      <div class="footer-social">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      </div>
    </div>
    <div class="footer-col">
      <h4>FOR SHOPPERS</h4>
      <ul>
        <li><a href="#">Search Products</a></li>
        <li><a href="#">Browse Categories</a></li>
        <li><a href="#">Map View</a></li>
        <li><a href="#">Recent Searches</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>FOR BUSINESSES</h4>
      <ul>
        <li><a href="#">Register Business</a></li>
        <li><a href="#">Business Dashboard</a></li>
        <li><a href="#">Pricing Plans</a></li>
        <li><a href="#">Success Stories</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>COMPANY</h4>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    © 2025 LocalFinder. All rights reserved.
    <div class="footer-bottom-links">
      <a href="#">Privacy Policy</a>
      <a href="#">Terms of Service</a>
      <a href="#">Cookie Policy</a>
    </div>
  </div>
</footer>