<%= layout("layouts/boilerplate") %>
<div class="header">
  <div class="header-heading">
    <h1><b>Discover Local Businesses Near You</b></h1>
  </div>
  <div class="header-subheading">
    <p>
      <b
        >Find the Perfect Local Shops, Restaurants, and Services in your area
        with LocalFinder.</b
      >
    </p>
  </div>
  <div class="find-btn">
    <form action="#">
      <button class="main-find-btn">Find Nearby Businesses</button>
    </form>
  </div>
</div>


<div class="category-container">
  <div class="category-header">
    <h3><b>Browse by Category</b></h3>

  </div>

  <div class="category-subheader">
    <h5>Explore businesses by category to find exactly what you're looking for</h5>
  </div>
</div>


<div class="icon-container">
  <div class="icon1"><i class="fa-solid fa-utensils"></i></div>
  <div class="icon2"><i class="fa fa-mug-saucer"></i></div>
  <div class="icon3"><i class="fa fa-shop"></i></div>
</div>

<div class="card-container">
  <% for(let bus of business){ %> <% if(!query){ %>
  <div class="card" style="width: 18rem">
    <a href="/show/<%=bus.id%>">
      <img src="<%=bus.Image.url%>" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><%=bus.Name %></h5>
        <p class="card-text"><b><%=bus.Category %></b></p>
        <p class="card-text"><%=bus.description %></p>
      </div>
    </a>
  </div>

  <% }else{ %>

  <div class="card" style="width: 18rem">
    <a href="/show/<%=bus.id%>">
      <img src="<%=bus.Image.url%>" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><%=bus.Name %></h5>
        <p class="card-text"><b><%=bus.Category %></b></p>
        <p class="card-text"><%=bus.description %></p>
      </div>
    </a>
  </div>
  <% } %> <% } %>
</div>