<%= layout("layouts/boilerplate") %>
<div>
  <div class="profile-container">
    <img src="<%= business.Image.url %>" alt="<%= business.Name %>" />
    <div class="profile-details">
      <h2><%= business.Name %></h2>
      <span class="category"><%= business.Category %></span><br />
      <span class="address"><%= business.address %></span>
    </div>
    <button class="contact-btn">
      <i class="fa fa-phone"></i> Contact Business
    </button>
  </div>
  <div class="details-container">
    <div class="about-section-1">
      <div class="about-section">
        <div><h3>About</h3></div>
        <div><p><%= business.description %></p></div>
      </div>

      <div class="map-container">
        <div class="Location-container">
          <h4><b>Location :</b></h4>
        </div>
        <div class="address-container">
          <h6>Address</h6>
          <p><%= business.address %></p>
        </div>
        <div id="map"></div>
      </div>
    </div>
    <div class="about-section-2">
      <h2>Contact Information</h2>
      <div class="EMAIL">
        <strong>Email:</strong> <%= business.Owner.email %>
      </div>
      <div class="CONTACT">
        <strong>Contact:</strong> <%= business.Contact %>
      </div>
      <div class="ADDRESS">
        <strong>Address:</strong> <%= business.address %>
      </div>
      <div class="hr-container">
        <hr />
      </div>
      <div class="button-container">
        <div class="call-business">
          <button class="call-btn">Call Business</button>
        </div>
        <div class="email-business"><button>Email</button></div>
      </div>
      <div class="business-sections">
        <h5 class="business-hours-title">Business Hours</h5>
        <ul class="business-hours-list">
          <li>
            <span class="day">Monday-Friday:</span>
            <span class="hours">9:00 AM - 8:00 PM</span>
          </li>
          <li>
            <span class="day">Saturday:</span>
            <span class="hours">10:00 AM - 6:00 PM</span>
          </li>
          <li>
            <span class="day">Sunday:</span> <span class="hours">Closed</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  mapboxgl.accessToken = '<%= process.env.MAP_ACCESS_TOKEN %>';
  const map = new mapboxgl.Map({
      container: 'map', // container ID
      center: [<%= business.geometry.coordinates[0] %>, <%= business.geometry.coordinates[1] %>], // starting position [lng, lat]. Note that lat must be set between -90 and 90
      zoom: 9 // starting zoom
  });
</script>
